<thymeleaf xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
           th:fragment="head" th:remove="tag">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
  <meta name="mobile-web-app-capable" content="yes" />
  <title>Watchdog Crypto</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi"
        crossorigin="anonymous"/>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</thymeleaf>


