<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Ops! Holy 404 Error</title>
</head>
<body>
<div style="max-width:650px; text-align: center; margin: 0 auto; padding: 20px">
  <h1>The content you requested could not be found!</h1>
  <img src="/img/404image.png" alt="404 error"/>
  <br/>
  <br/>
  <br/>
  <a style="text-decoration: none; font-size:1.6em; padding: 15px; background: white; border: 3px dashed black" href="/">Please take me to the
    homepage</a>
</div>
</body>
</html>